.tree {
  &__block {
    position: relative;
    margin-top: 14px;
  }

  &_right + &_left,
  &_left + &_right {
    margin-top: -30px;
  }

  &_left &__content {
    margin-right: auto;
  }

  &_right &__content {
    margin-left: auto;
  }

  &__content {
    width: 42%;
    border: 1px solid rgba(109, 157, 215, 0.8);
    border-radius: 4px;
    padding: 10px;
  }

  &__date {
    font-size: 0.8rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    line-height: 1.5rem;
  }
}
