@import '../../styles.scss';

$background: #ffffff;
$size: 20px;
$position: -$size / 2;

.tree {
  &__stem {
    position: absolute;
    height: 100%;
    width: 1px;
    background: $accentColor;
    left: 50%;
  }

  &__block {
    position: relative;
    margin-top: 14px;
  }

  &_right + &_left,
  &_left + &_right {
    margin-top: -30px;
  }

  &__branch {
    position: absolute;
    height: 1px;
    width: 50%;
    top: 10px;
    background: $accentColor;
  }

  &_right &__branch {
    right: 0px;
  }

  &_left &__branch {
    left: 0px;
  }

  &__joint {
    position: absolute;
    width: $size;
    height: $size;
    border-radius: 50%;
    border: 1px solid $accentColor;
    top: $position;
    background: $background;
    box-sizing: content-box;
  }

  &_right &__joint {
    left: $position;
  }

  &_left &__joint {
    right: $position;
  }

  &__content {
    position: relative;
    width: 42%;
    border: 1px solid $accentColor;
    border-radius: 4px;
    padding: 10px;
    background: $background;
    z-index: 1;
  }

  &_left &__content {
    margin-right: auto;
  }

  &_right &__content {
    margin-left: auto;
  }

  &__date {
    font-size: 0.8rem;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    line-height: 1.5rem;
  }
}
